<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>coureurServlet</servlet-name>
		<servlet-class>fr.gillouard.tdvelo.server.coureur.CoureurServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>coureurServlet</servlet-name>
		<url-pattern>/viewtdvelo/coureur</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>epreuveServlet</servlet-name>
		<servlet-class>fr.gillouard.tdvelo.server.epreuve.EpreuveServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>epreuveServlet</servlet-name>
		<url-pattern>/viewtdvelo/epreuve</url-pattern>
	</servlet-mapping>

</web-app>
